:root {
    --primary-color: #3d2b1f;
    --accent-color: #d4a373;
    --text-light: #fefae0;
    --bg-light: #faedcd;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--primary-color);
    background-color: var(--bg-light);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: var(--primary-color);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links { display: flex; list-style: none; }
.nav-links li { margin-left: 20px; }
.nav-links a { color: white; text-decoration: none; font-weight: bold; }


.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url('images/hero.jpg');;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    margin-bottom: 0.2rem;
}

.btn-main {
    display: inline-block;
    background: var(--accent-color);
    color: var(--primary-color);
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
    margin: 15px;
}

.btn-main:hover { transform: scale(1.05); background: #e9edc9; }

.section { padding: 80px 5%; text-align: center; }

.grid-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 0 0 20px 0;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.card-img {
    width: 100%;
    height: 250px;    
    object-fit: cover; 
    background-color: #fff; 
    margin-bottom: 15px;
}

.card:hover { transform: translateY(-10px); }

.card .card span {
    padding: 0 15px;
}

.card h3 {
    padding: 0 15px;
    min-height: 3em;    
    display: flex;    
    align-items: center; 
    justify-content: center
}

.card p {
    padding: 5px 20px 15px 20px; 
    margin-bottom: 15px;
    min-height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box; 
}

.card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: var(--accent-color);
}

footer {
    background: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

.overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(61, 43, 31, 0.95);
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    color: white; z-index: 2000;
}

.coffee-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Isso é o "âncora" para os itens internos */
}

.hidden { display: none; }

.cup {
    width: 80px; height: 60px;
    border: 5px solid white;
    border-radius: 0 0 30px 30px;
    position: relative;
    background: transparent;
    overflow: hidden;
    margin-top: 100px;
}

.cup::before {
    content: '';
    position: absolute;
    bottom: 0; left: 0; width: 100%; height: 0;
    background: #6f4e37;
    animation: fill 3s forwards;
}

.strainer {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 55px solid #dcdcdc;
    filter: drop-shadow(0 3px 4px rgba(0,0,0,0.25));
    z-index: 3;
}

.strainer::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -45px;
    width: 90px;
    height: 10px;
    background: #cfcfcf;
    border-radius: 0 0 20px 20px;
}

@keyframes fill {
    from { height: 0; }
    to { height: 100%; }
}

.coffee-falling {
    width: 6px;
    height: 100px; 
    background: #6f4e37;
    position: absolute;
    top: 45px; 
    z-index: 1;
    animation: pingar 0.5s infinite;
}

@keyframes drip {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}